.mainSection {
  padding-top: 186px;
  height: 763px;
  background: url("../../images/mainsection/bg_4.png") bottom 35px right 160px
      no-repeat,
    url("../../images/mainsection/bg_3.png") bottom 15px right -120px no-repeat,
    url("../../images/mainsection/bg_2.png") bottom 130px right -15px no-repeat,
    url("../../images/mainsection/bg_1.png") bottom 100px right 100px no-repeat,
    rgba(242, 206, 218, 0.3);
  background-size: 250px 80px, 852px 548px, 597px 597px, 365px 353px;
}

.text_1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.17;
  margin-bottom: 6px;
}

.buttonUp {
  position: fixed;
  left: 30px;
  top: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #dc3545;
  fill: var(--color_static);
}

.buttonUp:hover,
.buttonUp:focus {
  cursor: pointer;
  background-color: var(--background_color_hover);
  fill: var(--color_hover);
}

.sectionHeadline {
  font-family: "Fredoka", sans-serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 35px;
}

.pinkColor {
  color: #d23166;
}

.text_2 {
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}
