.fotosSection {
  padding-top: 60px;
  padding-bottom: 30px;
}

.fotosSection img {
  display: block;
}

.button {
  position: absolute;
  left: 28px;
  bottom: 16px;
  font-size: var(--middle_font_size);
  font-weight: 500;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 0;
}

.lastCol {
  position: relative;
}
