.menSection {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Poppins;
}

.sectionHeadline {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 45px;
}

.sectionInfo {
  font-size: var(--min_font_size);
  font-weight: 400;
  margin-bottom: 88px;
}

.image {
  width: 268px;
  height: 371px;
  margin-bottom: 38px;
}

.cardTitle {
  font-size: var(--min_font_size);
  font-weight: 300;
  margin-bottom: 5px;
}

.cardText {
  font-size: var(--min_font_size);
  font-weight: 600;
  margin-bottom: 5px;
}

.cardPrice {
  font-size: var(--min_font_size);
  font-weight: 400;
}

.cardFormerPrice {
  text-decoration: line-through;
  margin-right: 50px;
}

.cardActualPrice {
  color: red;
}
