.navlink {
  font-size: var(--middle_font_size);
}

.navlink:hover,
.navlink:focus {
  color: blue;
}

.icon {
  width: 18px;
  height: 18px;
}

.searchButton {
  color: rgba(0, 0, 0, 0.65);
}

.searchButton:hover,
.searchButton:focus {
  color: blue;
}
