.header {
  background-color: #f2ceda;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 500;
  padding: 10px 0px;
  border: 1px solid red;
}

.header a {
  padding: 0;
}

.navlink {
  font-size: var(--middle_font_size);
  font-weight: 400;
}

.navlink:not(:last-child) {
  margin-right: 55px;
}

.navlink:hover,
.navlink:focus {
  color: blue;
}

.byNowButton {
  padding: 14px 50px;
  font-size: 16px;
  font-family: "Hind-Bold", sans-serif;
  font-weight: 700;
}

.byNowButton:hover,
.byNowButton:focus {
  color: blue;
  background-color: yellow;
  outline: none;
  border: 1px solid yellow;
}
