.header {
  background-color: #f2ceda;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 500;
  padding: 10px 0px;
}

.header a {
  padding: 0;
}

.navlink {
  font-size: var(--middle_font_size);
  font-weight: 400;
  text-align: center;
}

.navlink:not(:last-child) {
  margin-right: 55px;
}

.navlink:hover,
.navlink:focus {
  color: blue;
}
