.pricingSection {
  padding: 100px 0px;
}

.sectionHeadline {
  font-family: "Hind Madurai", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.38;
  margin-bottom: 64px;
  text-align: center;
}

.navBar {
  margin-bottom: 50px;
}

.pricingNavlink {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
}

.pricingNavlink:not(:last-child) {
  margin-right: 39px;
}

.pricingList {
  margin-bottom: 112px;
}

.pricingItem {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.pricingItem:not(:last-child) {
  margin-bottom: 30px;
}

.pricingItemEven {
  flex-direction: row-reverse;
  margin-left: 2%;
}

.pricingDescription {
  padding-top: 60px;
}

.pricingDescriptionEven {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pricingName {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  margin-bottom: 11px;
}

.pricingText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 28px;
}

.pricingTextEven {
  text-align: end;
}

.pricingPrice {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.38;
  margin-bottom: 16px;
}

.formerPricingPrice {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.38;
  margin-left: 5px;
  text-decoration: line-through;
  color: gray;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}
