.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0a0808;
  color: grey;
}

.rowLogo {
  margin-bottom: 0px;
}

.logo {
  width: 79px;
  height: 79px;
}

.textPart {
  display: flex;
}

.textPart > div:not(:last-child) {
  margin-right: 60px;
  width: 207px;
}

.part1_text {
  margin-bottom: 25px;
}

.linkList {
  display: flex;
}

.listLinksName {
  color: white;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 8px;
}

.socialLinkItem:not(:last-child) {
  margin-right: 10px;
}
