.footer {
  font-family: Poppin;
  padding-top: 60px;
  background-color: #f2f8fc;
  font-size: var(--min-font-size);
  font-weight: 400;
}

p {
  margin-bottom: 0;
}

.rowLogo {
  margin-bottom: 17px;
}

.logo {
  width: 50px;
  height: 50px;
}

.mainText {
  font-size: 25px;
  font-weight: 700;
}

.rowInput {
  margin-bottom: 41px;
}

.input {
  padding: 11px 24px;
}

address {
  margin-bottom: 0;
}

.addressList {
  padding-left: 0;
  list-style: none;

  display: inline-block;
  margin-bottom: 0;
}

.aimIcon {
  width: 15px;
  height: 15px;
}

.addressStreet {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addressEmail {
  display: inline-block;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.phoneLi {
  margin-bottom: 16px;
}

.addressPhone {
  text-decoration: none;
}

.linksList {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.linksList a {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: start;
}

.linksList li:not(:last-child) {
  margin-right: 15px;
}

.footerMenu {
  display: flex;
  flex-direction: column;
}

.footerMenuHead {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 27px;
}

.footerMenuItem:not(:last-child) {
  margin-bottom: 21px;
}

.rights {
  background-color: #e7f5f8;
  text-align: center;
  padding: 35px 0px;
}
