.orderSection {
  border: 1px solid red;
  height: 650px;
  background-color: rgba(242, 206, 218, 0.3);
}

.sectionContent {
  display: flex;
}

.cardOrder {
  position: relative;
  top: 60px;
  width: 305px;
  height: 627px;
  margin-right: 188px;
  background-image: url("../../images/order/bg_ordercard.jpg");
  background-size: cover;
  border-radius: 32px;
}

.textPart {
  padding-top: 100px;
}

.sectionHeadline {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.18;
  margin-bottom: 20px;
  text-align: left;
}

.sectionText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 31px;
  text-align: left;
}

.optionList {
  margin-bottom: 41px;
}

.optionItem {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.17;
  text-align: left;
  display: flex;
  align-items: center;
}

.optionItem::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  margin-right: 10px;
  border-radius: 3px;
}

.optionItemSelect::before {
  background-image: url("../../images/order/selectIcon.png");
  background-size: 11px 16px;
}

.optionItemAdd::before {
  background-image: url("../../images/order/addToCart.png");
  background-size: 14px 14px;
}

.optionItemOrder::before {
  background-image: url("../../images/order/order.png");
  background-size: 16px 12px;
}

.optionItem:not(:last-child) {
  margin-bottom: 19px;
}

.google {
  border-radius: 5px;
  margin-right: 15px;
}

.appstore {
  border-radius: 5px;
}
