.products {
  padding: 100px 0px;
  border: 1px solid red;
}

.sectionHeadline {
  font-family: "Hind Madurai", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.38;
  margin-bottom: 64px;
  text-align: center;
}

.navBar {
  margin-bottom: 50px;
}

.productNavlink {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
}

.productNavlink:not(:last-child) {
  margin-right: 39px;
}
